:root {
  --primary-color: rgb(111, 156, 208);
}

* {
  color: #eee;
}
html {
  background-color: #202124;
  background-image: radial-gradient(#333 10%, transparent 11%),
    radial-gradient(#333 10%, transparent 11%);
  /* background-image: none; */
}

.a4 {
  background: #303134;
  /* box-shadow: 20px 13px 30px #0002; */
  box-shadow: none;
}

hr {
  background-color: #fff2;
}

.experience-name:after,
.education h5:after {
  display: none;
}

.avatar {
  /* box-shadow: 10px 5px 14px #0004; */
  box-shadow: 5px 5px 10px #0002;
}

p {
  color: #bbb;
}

li {
  color: #bbb;
}
li strong {
  font-family: "ProductSans Bold";
  color: #ddd;
}
a,
a * {
  color: #333 !important;
}

#download svg {
  width: 2em;
  stroke: #eee;
}
#download span {
  color: #eee !important;
}
#download:hover svg {
  stroke: var(--primary-color);
}
#download:hover svg,
#download:hover span {
  filter: brightness(200%);
}

#download {
  background-color: #444b;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.pdf-mode-btn figure {
  color: #d4d4d4 !important;
}
.pdf-mode-btn div {
  color: #a8a8a8 !important;
}
.text-primary div {
  color: rgb(102 196 255) !important;
}
