* {
  color: #ddd;
}
html {
  background-color: #222;
  background-image: radial-gradient(#333 10%, transparent 11%), radial-gradient(#333 10%, transparent 11%);
  /* background-image: none; */
}

.a4 {
  background: #333;
  /* box-shadow: 20px 13px 30px #0002; */
  box-shadow: none;
}
.a4 .content-wrapper .content {
  border-left: 2px solid #777;
}

.ln-svg,
.gh-svg {
  fill: #656565;
}
.ln-svg:hover {
  fill: #0b65c2;
}
.gh-svg:hover {
  fill: #bbc4d0;
}
.glass {
  background-color: #8881;
  /* backdrop-filter: blur(20px); */
  box-shadow: 15px 15px 40px #0003;
  box-shadow: none;
}
.clipboard-message {
  color: #999;
}

.sticker {
  background-color: #ffee22dd;
}
.phone,
.email {
  color: #222;
}

.avatar {
  /* box-shadow: 10px 5px 14px #0004; */
  box-shadow: 5px 5px 10px #0002;
}

.profession {
  color: #000;
  background-color: #ffee22;
}

p {
  color: #bbb;
}

li {
  color: #bbb;
}
a {
  color: #333;
}
