:root {
  --gutter: 0.3rem;
}

.glass {
  display: none !important;
}
.sticker {
  display: none !important;
}
#download {
  /* display: none !important; */
}
#download.pdf-mode-btn {
  display: flex !important;
}
section.pdf-mode-contacts {
  color: var(--text-color);
  font-size: 11px;
  display: flex;
  margin: -2.5rem 0 1.5rem 20px;
  flex-direction: row;
  gap: var(--gutter);
  width: fit-content;
}
section.pdf-mode-contacts div.pdf-mode-contacts__row {
  display: flex;
  align-items: center;
  gap: var(--gutter);
}
div.wrapper {
  padding-top: 3.3rem !important;
}
.project-cta {
  display: none !important;
}
